

.menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

h1 {
    color: #EEEEEF;
    margin: 15px;
    font-size: 30px;
}

.new-h1 {
  color: #9BB899;
}

.menu-button {
    background: transparent;
    border: 2px solid #9BB899;
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
  background: #9BB899;
  color: white;
}