.search-button {
  background-color: transparent;
  font-size: 17px;
  padding: 14px;
  border-radius: 22px;
  margin: 13px;
  color: black;
  font-weight: bold;
  width: 10em;
  border: 2px solid #9BB899;
  cursor: pointer;
}

.search-button:hover {
   background: #9BB899;
   color: white;
}

.search-input{
  font-size: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 82%;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid gray;
  }

  .search-input::placeholder {
    color: white;
  }