.news-article {
  background-color: white;
  width: 46%;
  margin: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-button {
    background: #B56AF0;
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 20px;
    color: white;
  }

  h2, p {
    margin: 10px;
  }

  img {
    width: 34em;
    height: 13em;
  }